<p id="notice"></p>
<p>
    <strong>Title</strong>
    <%= @book.title %>
</p>
<p>
    <strong>Body</strong>
    <%= @book.body %>
</p>
<%=link_to("edit", book_path(@book.id),{class:"edit"}) %>
"|"
<a class="back" href="/books">Back</a>